{{ $permalink := $.Scratch.Get "Permalink" }}
{{ $title := $.Scratch.Get "Title" }}
{{ $author := $.Scratch.Get "Author" }}
{{ $tags := $.Scratch.Get "Tags" }}
{{ range .Site.Params.socialShare }}
  {{ if eq . "twitter" }}
    <!-- TODO: Add Hashtags &amp;hashtags= -->
  {{ else if eq . "facebook" }}
      <a href="//www.facebook.com/sharer/sharer.php?u={{ $permalink }}" target="_blank" rel="noopener" class="nav share-btn facebook">
        <p>Facebook</p>
        </a>
  {{ else if eq . "email" }}
        <a href="mailto:?subject={{ i18n "check_out" }} {{ $author }}&amp;body={{ $permalink }}" target="_blank" class="nav share-btn email" data-proofer-ignore>
          <p>Email</p>
        </a>
  {{ end }}
{{ end }}
